{% extends '_base.html' %}
{% load static %}

{% block page_title %}home {% endblock %}
{% block content %}
    <div class="container ">
        <div class="container-fluid">


            <img src="{% static 'img/baner.jpg' %}" class="img-fluid mt-5" alt="Responsive image">
            <div class="d-grid gap-2">
                <button class="btn btn-primary mt-5" type="button"><a class="text-white text-decoration-none" href="{% url 'book_list' %}">لیست
                    کتاب ها</a></button>

            </div>
        </div>

    </div>

{% endblock %}
